{% extends "strona/base.html" %}

{% block title %}About the project{% endblock %}

{% block content %}
    <div class="introduction">Project made for Web Application programming Course</div>

    <p>This is a project of an exemplary ski shop website, made using django for Web Application Programming
    course during the winter semester of 2022/23 on Faculty of Mathematics and Information Science, Warsaw University
        of Technology. You can create users, browse and buy different type of ski gear and view your orders in a form
    of a table.</p>
{% endblock %}